.panel{
    background-color: rgba(4, 117, 98, 0.7);
    color: white;
    padding: 30px;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    margin: 0.1px;
    
}
.header{
    background-color: rgba(4, 117, 98, 0.7);
    color: white;
    padding: 30px;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    margin-top: -10px;
}
body{
    background-image: url('../imagens/wallpaper.jpg');
}
.button {
    background-color: rgba(4, 98, 117, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    margin: 0.1px;
    text-decoration: none;
}

.button:hover{
    background-color: rgba(245, 8, 8, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    margin: 0.1px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}